:root {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}

.board {
  position: relative;
  width: calc(4em + 4px);
  height: calc(4em + 4px);
  border: 1px inset #444444;
  padding: 3px;
  font-size: 64px;
  overflow: hidden;
}

/* helpers to show empty cell */
.board:before, .board:after{
  content: "";
  position: absolute;
  transition-property: left, top;
  transition-duration: 0.2s;
  background: blue;
}

.board:before {
  left: 0;
  width: 2px;
  height: 1em;
  top: 0;
  background: blue;
}

.board:after {
  top: 0;
  height: 1px;
  width: 1em;
  left: 0;
}


.t {
  border: 1px solid #ccc;
  transition-property: left, top;
  transition-duration: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.t > span { font-size: 0.6em; }
.t > label { cursor: pointer; }

