:root {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
}
* { box-sizing: border-box; }
html, body { width: 100%; height: 100%; margin: 0; padding: 0; }
body { padding: 1rem; }

h1 {
  padding-right: 4em;
}


.board {
  font-size: calc(min( 25vw - 0.5rem, 25vh - 3rem, 6rem));

  position: relative;
  overflow: hidden;
  width: calc(4em + 3px);
  height: calc(4em + 3px);
  padding: 2px;

  border-radius: 0.1em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: -6px -6px 26px rgba(255, 255, 255, 0.83), 5px 10px 15px rgba(0, 0, 0, 0.05), 15px 20px 35px rgba(0, 0, 0, 0.1), inset -2px -2px 2px rgba(0, 0, 0, 0.1), inset -1px -1px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 8px rgba(255, 255, 255, 0.2), inset 1px 1px 8px rgba(255, 255, 255, 0.2), -6px -6px 26px rgba(255, 255, 255, 0.8);
  background-color: #e9e9ef;
  border: 0;
  transition: 300ms ease-out;
  cursor: default;
  display: flex;
  flex-direction: column;
  color: #444444;
}


/* helpers to show empty cell */
.board:before, .board:after{
  content: "";
  position: absolute;
  transition-property: left, top;
  transition-duration: 0.2s;
  filter: blur(3px);
  transform: none;
  border-radius: inherit;
  pointer-events: none;
  background: #55D069;
  font-size: 1em;
}

.board:before {
  left: 0;
  width: 100%;
  background: linear-gradient(to left, #55D069 0%, rgba(0,0,0,0) 2%, rgba(0,0,0,0) 98%, #55D069 100%);
  height: 1em;
  top: 0;
}

.board:after {
  top: 0;
  height: 100%;
  background: linear-gradient(to bottom, #55D069 0%, rgba(0,0,0,0) 2%, rgba(0,0,0,0) 98%, #55D069 100%);
  width: 1em;
  content: "";
}


/*
    Tiles
*/
.t {
  transition-property: left, top;
  transition-duration: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
  position: absolute;
  border: 0;
  font-size: 1em;
  transition: all 150ms ease-in-out;
  font-weight: 600;
  border: none;
  border-radius: 0.3rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 70.48%, #FFF 93.62%, rgba(255, 255, 255, 0.00) 100%), linear-gradient(180deg, rgba(30, 54, 87, 0.00) 0%, rgba(30, 54, 87, 0.01) 100%), #FAFAFA;
  background-size: 4em;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.08) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.t > span { font-size: 0.6em; }
.t > label { cursor: pointer;  display: block; position: absolute; width: 1em; height: 1em; }


#t01, #t05, #t09, #t13 { background-position-x: -0em; }
#t02, #t06, #t10, #t14 { background-position-x: -1em;}
#t03, #t07, #t11, #t15 { background-position-x: -2em;}
#t04, #t08, #t12, #t16 { background-position-x: -3em;}

#t01, #t02, #t03, #t04 { background-position-y: -0em;}
#t05, #t06, #t07, #t08 { background-position-y: -1em;}
#t09, #t10, #t11, #t12 { background-position-y: -2em;}
#t13, #t14, #t15, #t16 { background-position-y: -3em;}

/*
    Control for background image
 */
#bg-option {
  margin-bottom: 1rem;
}

/* no text on tile */
.t > span {
  visibility: hidden;
}
/* but when user selected "15", then visible */
#bg-option:has(> option[value="15"]:checked) ~ .board > .t > span {
  visibility: visible;
}

#bg-option:has(> option[value="panda"]:checked) ~ .board > .t  {
  background-image: url('bg1.png');
}

#bg-option:has(> option[value="pony"]:checked) ~ .board > .t  {
  background-image: url('bg2.jpg');
}
