#debug {
  position: absolute;
  right: 2rem;
  top: 0.8rem;
  pointer-events: none;
  padding-top: 2rem;
  padding-left: 0.4rem;
}

#set-debug, #unset-debug {
  position: absolute;
  right: 0;
  top: 0;
  width: 6rem;
  height: 4rem;
}

#set-debug { display: block; }
#unset-debug { display: none; }
#debug:target ~ #set-debug { display: none;}
#debug:target ~ #unset-debug { display: block;}

.c { display: none; cursor: pointer;  position: absolute; right: 0; --top-offset: 5rem; font-size: 14px;}
.c.c01 {top: calc(var(--top-offset) + 1em);}
.c.c02 {top: calc(var(--top-offset) + 2em);}
.c.c03 {top: calc(var(--top-offset) + 3em);}
.c.c04 {top: calc(var(--top-offset) + 4em);}
.c.c05 {top: calc(var(--top-offset) + 5em);}
.c.c06 {top: calc(var(--top-offset) + 6em);}
.c.c07 {top: calc(var(--top-offset) + 7em);}
.c.c08 {top: calc(var(--top-offset) + 8em);}
.c.c09 {top: calc(var(--top-offset) + 9em);}
.c.c10 {top: calc(var(--top-offset) + 10em);}
.c.c11 {top: calc(var(--top-offset) + 11em);}
.c.c12 {top: calc(var(--top-offset) + 12em);}
.c.c13 {top: calc(var(--top-offset) + 13em);}
.c.c14 {top: calc(var(--top-offset) + 14em);}
.c.c15 {top: calc(var(--top-offset) + 15em);}
.c.y1 {right: 16rem;} .c.x1 {transform: translate(105%, 0);}
.c.y2 {right: 12rem;} .c.x2 {transform: translate(210%, 0);}
.c.y3 {right: 8rem;} .c.x3 {transform: translate(315%, 0);}
.c.y4 {right: 4rem; } .c.x4 {transform: translate(420%, 0);}


#debug:target ~ .c { display: inline;}


#debug:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  background: #fff;
  border: 1px solid #d9d9d9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 50px; /* x*5 */
  height: 30px; /* x*3 */
  border-radius: 20px; /* x*2 */
}

#debug:after {
  content: "";
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  background: #fff;
  border: 1px solid #d9d9d9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 30px; /* x*3 */
  height: 30px; /* x*3 */
  border-radius: 20px; /* x*2 */
}

#debug:hover:after {
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

#debug:target:after {
  margin-left: 20px; /* x*2 */
}

#debug:target:before {
  background: #55D069;
}
